div.sphx-glr-download a {
  background-color:  #444444 !important;
  color: white !important;
  background-image: none !important;
  font-family: var(--font-stack) !important;
  border-radius: 0px !important;
  padding: 14px 16px !important;
  text-transform: uppercase;
}

div.sphx-glr-download a:hover {
  background-color:  #2f2f2f !important;
}
div.sphx-glr-download code.download {
  font-family: var(--font-stack) !important;
}
div.sphx-glr-download-link-note.admonition.note {
  visibility: hidden;
  height: 0;
  margin: -7px;
}
a[class^="sphx-glr-backref"] {
  color: inherit;
}

.sphx-glr-script-out .highlight pre {
  background-color: #353638 !important;
  color: white;
}


.sphx-glr-script-out::before {
  content: ">>" !important;
  color: var(--color-api-name);
}