@import url('https://fonts.googleapis.com/css2?family=Work+Sans&family=Rajdhani');
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/Iosevka/6.0.0/iosevka/iosevka.min.css"); */



.sidebar-brand-text,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rajdhani', sans-serif;
}

.sidebar-brand-text {
    text-transform: uppercase;
}

.highlight {
    background-color: var(--color-code-background);
}


.landing {
    text-align: center;
    padding-top: 2em;
    background-color: var(--color-background-secondary);
    min-height: 100vh;
}

.landing h1 {
    font-size: 600%;
    color: var(--color-brand-primary);
}

.landing h2 {
    font-size: 200%;
    font-family: var(--font-stack);
    margin-right: 0.3em;
    margin-left: 0.3em;
}

.landing img {
    max-height: 670px;
}

.landing input {
    padding: 16px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

/* CSS */
.button-landing {
    background-color: #535353;
    border-radius: 0px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    /* display: inline-block; */
    font-family: var(--font-stack--monospace);
    font-size: 104%;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 30px 30px 40px 20px;
    outline: none;
    padding: 24px 32px;
    /* position: relative; */
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* fa-brands fa-solid fa-gitlab fa-1x */

.button-landing:hover,
.button-landing:focus {
    background-color: var(--color-brand-primary);
}

dd strong {
    font-family: var(--font-stack--monospace);
}

svg {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
    width: 480px;
}

.path1 {
    animation: draw 2s forwards;
}

.path2 {
    animation: fire 2s forwards;
}


.path3 {
    animation: 2s eye 2s forwards;
    fill-opacity: 0;
}

@keyframes eye {
    0% {
        fill-opacity: 0.0;
    }

    70% {
        stroke-dashoffset: 0;
        fill-opacity: 0.0;
    }

    100% {
        fill-opacity: 1;
        stroke-dashoffset: 0;
    }
}

@keyframes draw {
    0% {
        /*     stroke-dashoffset: 0; */
        fill-opacity: 0.0;
    }

    70% {
        stroke-dashoffset: 0;
        fill-opacity: 0;
        stroke-opacity: 1;
    }

    100% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
        stroke-opacity: 0;
    }
}

@keyframes fire {
    0% {
        /*     stroke-dashoffset: 0; */
        fill-opacity: 0;
    }

    50% {
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }

    90% {
        stroke-dashoffset: -100;
        fill-opacity: 0.9;
    }

    95% {
        stroke-dashoffset: -100;
        fill-opacity: 0;
        /*     stroke-opacity:0; */
    }

    96% {
        stroke-dashoffset: -100;
        fill-opacity: 1;
        /*     stroke-opacity:0.5; */
    }

    98% {
        stroke-dashoffset: -100;
        fill-opacity: 0;
        /*     stroke-opacity:0; */
    }

    100% {
        stroke-dashoffset: -100;
        fill-opacity: 1;
        stroke-opacity: 0;
    }
}

body[data-theme="dark"] .highlight {
    background: #000;
}

p .reference img {
    padding-bottom: 6px;
}

.highlight .nf {
color: var(--color-api-name);
}
.highlight .nb {
  color: #35995f;
}